*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family:'DM Sans', sans-serif;
    font-size: 15px;
    background-image: url(img/fondoportada.jpg);
    background-size: cover;
    color: #616161;
    
}

.main{
    width: 780px;
    margin:0 auto;
}
.banner{
    display: flex;
    background-image: radial-gradient(circle at 50% -3.03%, #e1bfff 0, #a69aff 25%, #6e73d8 50%, #3c4d99 75%, #112c61 100%);
    height: 50px;
}

.titulo{
    width: 312px;
}

.titulo h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 80px;
    margin-top: 10px;
    color: aliceblue;
}

.iconos{
    width: 468px;
    
    
}

.iconos ul{
    list-style-type: none;
    display: flex;
    flex-direction: row-reverse;
}

.iconos ul li{
    border-radius: 25px;
    border: 1px solid #000;
    padding: 5px;
    margin-right: 50px;
    margin-top: 10px;
    background-color: #fff;
    
}

.iconos ul li:hover{
    background-color: #c9c9;
}

.icono1{
    color: blue;
    
}

.icono3{
    color: skyblue;
}

.icono2{
    color: red;
}

.menu ul{
    list-style: none;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    
}

.menu ul li{
    height: 50px;
    width: 150px;
    
    
}

.contenido{
    display: flex;
}


.concepto{
    width: 50%;
    padding: 0 20px 0 20px;
}

.concepto div{
    text-align: justify;
    margin: 0 0 25px 0;
}

.definicion{
    height: 220px;
}

.definicion h2{
    margin: 0 0 10px 0;
}

.resaltado{
    color: red;
    font-style: italic;
    font-weight: bold;
}


.imagenes{
    width: 50%;
    padding-bottom: 10px;
    
    
}

.cuadro{
    padding: 10px;
    background-color: white;
    margin: 0 auto;
    width: 70%;
}
.cuadro img{
    width: 100%;
}

.titulocuadro{
    width: 70%;
    background-color: #fff;
    margin: 0 auto;
    padding: 0 10px 10px 10px;
    font-weight: bolder;
    font-size: 13px;
    text-align: center;
}

.imagenes>div{
   width: 100%;
   height: 220px;
   margin: 0 auto;
   /* background-image: url(img/vertical.jpg); */
}

.footer{
    text-align: center;
    background-color: black;
    position: relative;
    bottom: 10;
    width: 100%;
    height: 40px;
    color: white;
    

}

.footer ul{
    list-style: none;
    padding-top: 10px;
    font-size: 12px;
    
}



   