*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    
}

body{
    background: url(img/bf1.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.contenedor{
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.form_contenedor{
    width: 450px;
    max-width: 100%;
    background-color: rgb(177, 249, 194,0.5) ;
    padding: 40px 45px 40px;
    text-align: center;
    border-radius: 25px;
    box-shadow: 0 0 100px rgba(132, 117, 117, 0.5);
}

.form_contenedor h1{
    font-size: 35px;
    margin-bottom: 40px;
    color: rgb(5, 5, 5);
    position: relative;
}

.input_field{
    display: flex;
    background-color: #3f4550;
    margin: 20px 0;
    border-radius: 5px;
    align-items: center;
    overflow: hidden;
}

input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: none;
    padding: 20px 15px;
    color: white;
    font-size: 15px;
}

input::placeholder{
    color: white;
    font-size: 15px;
}

.boton_field{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0 0;
}

.boton_field button{
    flex-basis: 75%;
    font-size: 20px;
    background-color: rgb(65, 153, 163);
    color: white;
    height: 40px;
    border-radius: 10px;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.input_grupo{
    height: 250px;
    
}